.about{
    background-color: #727468;
}
section h1{
    font-family: 'Poppins',serif;
}
section span {
    color: var(--primary);
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h5{
    color: var(--primary);
}
.dev{
    color: var(--primary);
}
.more{
    padding-top: 50px;
}
.progress-bar{
    background-color: var(--primary
    );
}