header{
    background-color: #727469;
   
    clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 94%, 0 100%);
}
header h1{
  font-family: 'Poppins',serif;
}
@media(max-width:970px){
  header{
    background-color:#727468 ;
    clip-path:none ;
  }
  .first-img{
    padding-right: 45px;
    margin-top: 30px;
  }
  
}
@media(max-width:770px){
  header{
    background-color: #727468;
    clip-path:none ;
  }
 
}

.first-img{
    height: 600px;
    width: 500px;
    object-position: center;
}
.sec-section{
   padding-top: 130px;
}

.first{
    color: var(--primary);
}
.second{
    color: white;
    font-size: 50px;
    font-family: 'Poppins',serif;
}
.third{
    color: var(--primary);
    letter-spacing: 10px;
    font-size:60px ;
    font-family: 'poppins',serif;
}
.first-btn{
    border: 1px solid var(--primary);
    background-color:transparent;
    color: var(--primary);
    padding: 10px;
    width: 200px;

}
@media(max-width:970px){
  .first-btn{
    width: 150px;
    margin-bottom: 20px;
  }
}
@media(max-width:670px){
  .first-btn{
    width: 150px;
    margin-bottom: 20px;
  }
}