$font-size:1.8rem;
$primary-font-size:5rem;
$secondary-font-size:3.5rem;

$brand-color: rgb(29, 221, 189);
$text-color:#333333;
$bg-color: #ccc;
$nav-color :black;

:root {
    --primary: rgb(29, 221, 189);
    --bgDark: rgb(12, 12, 12);
    --white: rgb(250, 250, 250);
    --secondary: rgb(0, 59, 50);
    --bgLight: rgb(190, 181, 181);
  }


//  header .animate{
//   transition: 3s;
// }
//  section .animate{
//  transition: 1s;
//  }
// header .animate{
//   transform: translateY(20%);
//  }
//  header.show-animation .animate{
//    transform: translateY(0);
// }
// header .animate{
//   transition: 1s;
// }
// .sec-1 .animate{
//   transform: translateY(10%);
// }
// .sec-1.show-animation .animate{
//   transform: translateY(0);
// }

// section .animate{
//   transform: 1s;
// }
//  .sec-2 .animate{
//   transform: translateY(100%);
//  }
//  .sec-2.show-animation .animate{
//    transform: translateY(0);
//  }

//  .sec-3 .animate{
//   transform: translateY(50%);
//  }
//  .sec-3.show-animation .animate{
//   transform: translateY(0);
//  }
//  .sec-4 .animate{
//   transform: translateY(10%);
//  }
//  .sec-4.show-animation .animate{
//     transform: translateX(0);
//  }
//  .sec-5 .animate{
//   transform: translateY(10%);
//  }
//  .sec-5.show-animation .animate{
//    transform:translateY(0)
//  }

 