$font-size:1.8rem;
$primary-font-size:5rem;
$secondary-font-size:3.5rem;

$brand-color: rgb(29, 221, 189);
$text-color:#333333;
$bg-color: #ccc;
$nav-color :black;

:root {
    --primary: rgb(29, 221, 189);
    --bgDark: rgb(12, 12, 12);
    --white: rgb(250, 250, 250);
    --secondary: rgb(0, 59, 50);
    --bgLight: rgb(190, 181, 181);
  }